@font-face {
    font-family: "Kanit-300";
    font-weight: 300;
    src: url(../fonts/Kanit-Light.ttf);
}

@font-face {
    font-family: "Kanit-500";
    font-weight: 500;
    src: url(../fonts/Kanit-Medium.ttf);
}

*, *::before, *::after {
      box-sizing: inherit;
}

* {
    box-sizing: border-box;
}
